

.T1{
    border-bottom: 2px solid black;
}
.T2{
    border-bottom: 2px solid black;
}
.T3{
    border-bottom: 2px solid black;
    text-align: center;
}


.box-inside{
    background-color: white;
    padding: 50px 10px;
    margin: 30px 5px;
    text-align: center;
   
}
.box-inside2{
    background-color: white;
    padding: 50px 20px;
    margin: 30px 5px;
    text-align: center;
padding-top: 10px;
   
}
.box-inside3{
    background-color: white;
    padding: 50px 5px;
    margin: 30px 5px;
    text-align: center;
   
}
.box-inside4{
    background-color: white;
    padding: 50px 5px;
    margin: 30px 5px;
    text-align: center;
   
}
.box-inside5{
    background-color: white;
    padding: 50px 5px;
    margin: 30px 5px;
    text-align: center;
   
}
.box-inside6{
    background-color: white;
    padding: 50px 5px;
    margin: 30px 5px;
    text-align: center;
   
}
.box-inside7{
    background-color: white;
    padding: 50px 5px;
    margin: 30px 5px;
    text-align: center;
   
}
.box-inside8{
    background-color: white;
    padding: 50px 5px;
    margin: 30px 5px;
    text-align: center;
   
}